/*reset*/
html,body,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0}
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
body{background-color:#eee;color:#666;min-height:100%;height:auto!important;height:100%}
body,button,input,select,textarea,h1,h2,h3,h4,h5,h6{font:12px/1 "宋体","Microsoft Yahei",arial,simhei}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;vertical-align:middle}
a{text-decoration:none}
/*a:visited{}a:hover{text-decoration:underline}*/
a:active{}ul,li,ol{list-style:none}
strong,b{font-weight:normal}
em,i{font-style:normal}
iframe{display:block}
fieldset{border:1px solid #c0c0c0;margin:0 2px 18px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
s{text-decoration:none;}
/*public*/
.fl{display:inline;float:left}
.fr{display:inline;float:right}
/*清除浮动*/
.cf:after{content:"";clear:both;display:block;height:0;overflow:hidden}
.cf{zoom:1}

.pb10{padding-bottom:10px}
.mt10{margin-top:10px}

/* case */
.case{
	width:960px;
	background:#fff;
	padding:0px;
	box-shadow:0 0 10px #ccc;
	margin: 100px;
}
.case .title{height:20px;border-bottom:3px solid #e7e7e7;padding-bottom:10px;}
.case .title h2{font-size:14px;font-family:"microsoft yahei";line-height: 30px;margin-left: 10px;}
.case .title-list{position:relative;top:6px;}
.case .title-list li{width:146px;line-height:20px;text-align:center;float:left;display:inline;}
.case .title-list li.on{color:#ff6600;font-weight:bold;}
.case .title-list p{position:absolute;top:24px;left:0px;width:146px;height:7px;border-top:3px solid #ff6600;overflow:hidden;text-align:center;}
.case .title-list b{display:inline-block;width:0;height:0;margin-top:-3px;border-style:solid dashed dashed dashed;border-width:9px;border-color:#ff6600 #fff #fff #fff;overflow:hidden;zoom:1;font-size:0;}
.product{height:268px;position:relative;overflow:hidden;display:none;margin-top:20px;}
.product ul{position:absolute;left:0px;}
.product-wrap .show{display:block;}
.product-wrap .product li{float:left;display:inline;margin-left:13px;background:#f3f3f3;border:2px solid #fafafa;transition:0.4s;-webkit-transition:0.4s;-moz-transition:0.4s;-o-transition:0.4s;-ms-transition:0.4s;}
.product-wrap .product li.ml0{margin-left:0px;}
.product-wrap .product li a.imgwrap{display:block;width:226px;height:200px;background:#fff;text-align:center;}
.product-wrap .product li p{padding-left:15px;color:#666666;line-height:22px;}
.product-wrap .product li p a{color:#666666;text-decoration:none;}
.product-wrap .product li p span:hover{color:#ff6600;text-decoration:none;background-color: pink;}
.product-wrap .product li span {
	font-size: 12px;
	text-align: center;
	float: right;
	height: 25px;
	width: 50px;
	border: 1px solid #FF6633;margin-right: 5px;

}
